.footer {
  display: flex;
  gap: 10px;
  align-items: center;
  padding: 13px 20px;
  background-color: #ffffff;
  font-family: 'Chakra Petch', sans-serif;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.footer input {
  flex: 1;
  outline: none;
  border: none;
  border-radius: 5px;
  padding: 8px 16px;
  background-color: #edf2f7;
  color: #000;
  transition: 200ms;
  font-size: 17px;
  line-height: 24px;
  font-weight: 500;
}

.footer input:focus {
  background-color: #e2e8f0;
}

.footer .btn {
  padding: 10px;
  border-radius: 10px;
  background-color: #046cf1;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 4rem;
  border: none;
  transition: background-color 0.2s ease;
}

.footer .btn:hover {
  background-color: #0354c9;
}

.footer .btn:disabled {
  background-color: #9ca3af;
  cursor: not-allowed;
}

.footer .icon:hover {
  background-color: transparent;
}

.btn .icon {
  border-radius: 10px;
  padding: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  transition: 200ms;
}

.btn .icon svg {
  height: 14px;
  width: 14px;
}

@media only screen and (min-width: 300px) and (max-width: 349px) {
  .footer {
    padding: 12px 8px;
  }
  .footer input {
    width: 1rem;
    font-size: 15px;
  }
  .footer .btn {
    width: 3rem;
  }
}